body {
  margin: 0;
  padding: 0;
  background: #444;
  color: red;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  height: 100vh;
}
li ol {
  padding: 0 0 0.5rem 1rem;
}
@keyframes target {
  0% {
    background-color: rgba(255, 255, 255, 0125);
  }
  100% {
    background: transparent;
  }
}
/* El logo toma impulso y cae con fuerza y se pasa al volver a su posicion inicial */
@keyframes nav-icon {
  0% {
    transform: translateY(0px);
  }
  70% {
    transform: translateY(0px);
  }
  80% {
    transform: translateY(-10px);
  }
  85% {
    transform: translateY(10px);
  }
  95% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0px);
  }
}

:target {
  animation: target 0.3s normal ease-in;
}
.derecha {
  text-align: right;
}
.code {
  display: block;
  background: #1e1e1e;
  padding: 0.2em 0.5em;
  color: #d4d4d4;
  max-width: 100%;
  overflow-x: auto;
  font-family: Consolas, 'Courier New', monospace;
  .keyword {
    color: #569cd6;
    font-style: italic;
    &.control {
      color: #c586c0;
    }
  }
  .function {
    color: #dcdcaa;
  }
  .variable {
    color: #9cdcfe;
    &.readonly {
      color: #4fc1ff;
    }
  }
  .type {
    color: #4ec9b0;
  }
  .constant {
    color: #b5cea8;
  }
  .bracket-1 {
    color: #ffff00;
  }
  .bracket-2 {
    color: #d351c8;
  }
  .bracket-3 {
    color: #2e94e7;
  }
  .shadow {
    color: gray;
    user-select: none;
  }
}
header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 6rem;
  transition: height 0.3s ease;
  background-color: #222;
  overflow: hidden;
  box-sizing: border-box;
  justify-items: center;
  .title {
    display: flex;
    img {
      height: 4rem;
      width: 4rem;
      margin: 1rem 0 1rem 1rem;
      animation: nav-icon 5s infinite;
    }
    h1 {
      font-size: 3rem;
      margin: 1rem;
      transition: width 0.3s ease;
    }
  }
  nav {
    width: 100%;
    ul {
      display: flex;
      flex-wrap: wrap;
      padding: 0;
      list-style: none;
      width: 100%;
      display: flex;
      justify-content: center;
      li {
        padding: 1rem;
        a {
          color: currentColor;
          text-decoration: none;
          font-size: 1.5rem;
          font-weight: bold;
          text-transform: capitalize;
        }
        &:hover {
          background-color: rgba(255, 255, 255, 0.125);
        }
      }
    }
  }
  &:hover {
    height: 12rem;
    .title img {
      /* Se quita la animacion en su totalidad porque */
      /* No queremos que se pause justo a media animacion */
      animation-name: none;
    }
  }
}
main {
  position: absolute;
  top: 6rem;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-y: auto;
  overflow-x: hidden;
  .content {
    width: 60%;
    margin: 1rem auto;
    article {
      box-sizing: border-box;
      width: 100%;
      margin-bottom: 1rem;
      border-radius: 10px;
      padding: 1rem;
      background-color: #333;
      h2 {
        font-size: 3rem;
        text-align: center;
        margin: 1rem 0;
      }
      div.doble-section {
        display: grid;
        grid-template: 's1 s2' auto / 50% 50%;
        section {
          div {
            &.img1.p2 {
              grid-template:
                'p1' auto
                'p2' auto
                'img' auto;
            }

            &.img1.p1,
            &.img2.p1,
            &.img2.p2 {
              grid-template:
                'p1' auto
                'img' auto
                'p2' auto
                / 1fr;
            }
            img {
              width: 100%;
              max-height: none;
              margin: 0 0 1rem 0;
            }
          }
        }
        section:first-of-type {
          grid-area: s1;
          margin-right: 1rem;
        }
        section:last-of-type:not(.solo-p1) {
          grid-area: s2;
          margin-left: 1rem;
        }
      }
      section {
        h3 {
          font-size: 2rem;
          margin-bottom: 0;
        }
        div {
          display: grid;
          &.img1 {
            grid-template:
              'p1 p1 img' auto
              'p2 p2 img' minmax(1em, 9fr)
              / 2fr 2fr 1fr;
          }
          &.img2 {
            grid-template:
              'img p1 p1' auto
              /* El elemento se lleva todo el espacio que puede siempre que no supere el 90%*/
              'img p2 p2' minmax(1em, 9fr)
              / 1fr 2fr 2fr;
          }
          p {
            height: 100%;
            width: 100%;
            grid-area: p;
            &:first-of-type {
              grid-area: p1;
              height: auto;
              margin-bottom: 1rem;
            }
            &:last-of-type:not(.solo-p1) {
              grid-area: p2;
            }
          }
          img {
            grid-area: img;
            margin: 0 2rem;
            max-height: 11rem;
          }
        }
      }
      p {
        width: 80%;
        margin: auto;
        a {
          color: currentColor;
          font-style: italic;
          text-decoration: none;
          &:hover {
            /* Para cambiar el color automaticamente */
            opacity: 0.8;
          }
        }
      }
    }
    div.botones {
      position: relative;
      margin: 1rem 0;
      box-sizing: border-box;
      width: 80%;
      height: 3.2rem;
      justify-self: center;
      a {
        display: none;
        position: absolute;
        border-radius: 10px;
        padding: 1rem;
        background-color: #333;
        color: currentColor;
        text-decoration: none;
        font-weight: bold;
        svg {
          height: 1rem;
          width: 1rem;
          fill: red;
        }
        &:hover {
          opacity: 0.8;
        }
      }
      &.btn-ant {
        a:first-of-type {
          display: block;
          left: 0;
        }
      }
      &.btn-sig {
        a:last-of-type {
          display: block;
          right: 0;
        }
      }
    }
  }
  .sub-nav {
    position: fixed;
    left: 0;
    background-color: #2e2e2e;
    max-width: 12rem;
    bottom: 0;
    top: 6rem;
    overflow: hidden;
    box-sizing: border-box;
    transition: max-width 0.3s ease, top 0.3s ease;
    svg {
      opacity: 0;
      margin-top: 1rem;
      /* Se usa para expandir la barra al limite cuando esta comprimida */
      width: 3rem;
      box-sizing: border-box;
    }
    nav {
      overflow: hidden;
      padding-right: 1rem;
      ol li {
        a {
          color: currentColor;
          text-decoration: none;
          font-weight: bold;
          &:hover {
            /* Para cambiar el color automaticamente */
            opacity: 0.8;
          }
        }
        ol {
          list-style: lower-alpha;
          li ol {
            list-style: lower-roman;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1700px) {
  main .content {
    width: 50%;
  }
}
@media screen and (max-width: 1500px) {
  main .content article section div.pf {
    &.p2 p:first-of-type {
      height: 100%;
    }
    &.img1 {
      &.p1 {
        grid-template:
          'p1 img' auto
          'p2 p2' minmax(1em, 9fr)
          / 2fr 1fr;
      }
      &.p2 {
        grid-template:
          'p1 p1' auto
          'p2 img' minmax(1em, 9fr)
          / 2fr 1fr;
      }
    }
    &.img2 {
      &.p1 {
        grid-template:
          'img p1' auto
          'p2 p2' minmax(1em, 9fr)
          / 1fr 2fr;
      }
      &.p2 {
        grid-template:
          'p1 p1' auto
          'img p2' minmax(1em, 9fr)
          / 1fr 2fr;
      }
    }
  }
}
@media screen and (max-width: 1300px) {
  main {
    margin-left: 12rem;
    &.sin-nav {
      margin-left: 0;
    }
    .content {
      width: 80%;
    }
  }
}
@media screen and (max-width: 1200px) {
  main .content article section div.pf {
    &.p2 p:nth-child(1) {
      height: 100%;
    }
    &.img1 {
      &.p1 {
        grid-template:
          'p1 p1' auto
          'p2 img' minmax(1em, 9fr)
          / 2fr 1fr;
      }
      &.p2 {
        grid-template:
          'p1 img' auto
          'p2 p2' minmax(1em, 9fr)
          / 2fr 1fr;
      }
    }
    &.img2 {
      &.p1 {
        grid-template:
          'p1 p1' auto
          'img p2' minmax(1em, 9fr)
          / 2fr 1fr;
      }
      &.p2 {
        grid-template:
          'img p1' auto
          'p2 p2' minmax(1em, 9fr)
          / 2fr 1fr;
      }
    }
  }
}
@media screen and (max-width: 1100px) {
  main .content article section div {
    &.p2 p:nth-child(1) {
      height: 100%;
    }
    &.img1 {
      &.p1 {
        grid-template:
          'p1 p1' auto
          'p2 img' minmax(1em, 9fr)
          / 2fr 1fr;
      }
      &.p2 {
        grid-template:
          'p1 img' auto
          'p2 p2' minmax(1em, 9fr)
          / 2fr 1fr;
      }
    }
    &.img2 {
      &.p1 {
        grid-template:
          'p1 p1' auto
          'img p2' minmax(1em, 9fr)
          / 2fr 1fr;
      }
      &.p2 {
        grid-template:
          'img p1' auto
          'p2 p2' minmax(1em, 9fr)
          / 2fr 1fr;
      }
    }
  }
}
@media screen and (max-width: 1000px) {
  main .content article section div.img2 {
    grid-template:
      'p1' auto
      'img' auto
      'p2' auto
      / 1fr !important;

    img {
      width: 100%;
      max-height: none;
      margin: 0 0 1rem 0;
    }
  }
}
@media screen and (max-width: 900px) {
  main .content {
    width: 90%;
    article {
      div.doble-section {
        display: grid;
        grid-template: 's1' auto 's2' auto / 100%;

        section:nth-child(1n) {
          margin: 0;
        }
      }
      section div.img1 {
        &.pf,
        & {
          &.p1 {
            grid-template:
              'p1' auto
              'img' auto
              'p2' auto;
          }
          &.p2 {
            grid-template:
              'p1' auto
              'p2' auto
              'img' auto;
          }
          img {
            width: 100%;
            max-height: none;
            margin: 0 0 1rem 0;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 730px) {
  header {
    height: 10rem;
    .title {
      justify-content: center;
      h1 {
        width: 50%;
      }
    }
    &:hover {
      height: 19rem;
    }
  }
  main {
    top: 10rem;
    margin-left: 3rem;
    .sub-nav {
      top: 10rem;
      max-width: 3rem;
      svg {
        opacity: 1;
        transition: opacity 1s;
      }
      nav {
        max-height: 0;
        max-width: 0;
      }
      &:hover {
        max-width: 50vw;
        svg {
          opacity: 0.5;
        }
        nav {
          max-width: 100%;
          max-height: 100%;
          /* Originalmente se usaria display: none y display block
          pero se presentaros problemas de ordenamiento*/
          /* Se utiliza el max-height para animar y
           el max-width para ocultar*/
          /* La animacion es solo para que se acomode antes de que
          se vea por eso tiene delay*/
          transition: max-height 3s 0.3s linear;
        }
      }
    }
  }
}
@media screen and (max-width: 550px) {
  header .title h1 {
    width: 60%;
  }
}
@media screen and (max-width: 510px) {
  header nav ul {
    justify-self: center;
    width: 80%;
    li {
      width: 50%;
      box-sizing: border-box;
      text-align: center;
    }
  }
}
